<?xml version="1.0"?>
<ruleset
	name="analytics-wordpress"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>The coding standard for the analytics-wordpress project.</description>

	<file>./includes/</file>
	<file>./integrations/</file>
	<file>./templates/</file>

	<exclude-pattern>/tests/</exclude-pattern>

	<arg value="sp" /> <!-- Show sniff and progress -->
	<arg name="colors" /> <!-- Show results with colors. Disable if working on Windows -->
	<arg name="basepath" value="." /> <!-- Strip the file paths down to the relevant bit -->
	<arg name="parallel" value="8" /> <!-- Enables parallel processing when available for faster
	results -->
	<arg name="extensions" value="php" /> <!-- Limit to PHP files -->

	<!-- Rules -->
	<!-- Check PHP version compatibility.
		See https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP" />
	<config name="testVersion" value="8.0-" />

	<!-- Wordpress Coding Standards -->
	<rule ref="WordPress">
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="segment" />
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="segment" />
			</property>
		</properties>
	</rule>
	<config name="minimum_supported_wp_version" value="6.0" />
</ruleset>