<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	processIsolation="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
	bootstrap="tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="Segment.io Analytics Test Suite">
			<directory suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<exclude>
			<directory suffix=".php">./tmp/</directory>
			<directory suffix=".php">./tests/</directory>
			<directory suffix=".php">./templates/</directory>
			<directory suffix=".php">./languages/</directory>
			<directory suffix=".php">./integrations/</directory>
		</exclude>
	</coverage>
</phpunit>